---
import Css from './icons/Css.astro';
import Html from './icons/Html.astro';
import Js from './icons/Js.astro'
import React from './icons/React.astro'
import AstroIcon from './icons/AstroIcon.astro'
import Tailwind from './icons/Tailwind.astro'
import Git from './icons/Git.astro'
import Ps from './icons/Photoshop.astro'
import LinkedIn from './icons/LinkedIn.astro'
import GitHub from './icons/GitHub.astro'
import Mail from './icons/Mail.astro'
import Wp from './icons/Wordpress.astro'
import File from './icons/File.astro'
import User from './icons/User.astro'
import PillsContact from '../components/PillsContact.astro';
import Resume from '../files/Resume.pdf'
import Picture from '../assets/MyPicture.png';
---

<div class="container lg:flex md:block overflow-visible lg:flex-none select-none">
    <div class="abMe w-[70vw h-[18em] md:h-[20em] md:w-4/5 lg:w-10/12 bg-bg-light py-5 md:py-0 px-10 border-solid border-2 border-bg-2 font-mono text-bg lg:flex flex-none items-center overflow-visible shadow-lg rounded-md">
        <div class="text px-5">
            <h1 class="text-2xl md:text-6xl text-soft font-medium">Hey!</h1>
            <h2 class="text-[2.1em] md:text-8xl font-extrabold tracking-tight">I'm Diego</h1>
            <h2 class="md:text-2xl font-light text-bg-2 tracking-tight">software developer</h2>
            <div class="w-3/5 md:w-full mt-3">
                <nav class="flex flex-wrap items-center md:space-x-2 ">
                    <PillsContact href="https://www.linkedin.com/in/diegogvill/">
                        <LinkedIn class="size-4 md:size-5 mr-1"/>LinkedIn
                    </PillsContact>
                    <PillsContact href="https://github.com/CodigoDiego">
                        <GitHub class="size-4 md:size-5 mr-1"/>GitHub
                    </PillsContact>
                    <PillsContact href="mailto:dguev@gmail.com">
                        <Mail class="size-4 md:size-5 mr-1"/>dguev@outlook.com
                    </PillsContact>
                </nav>
            </div>
        </div>
    </div>
    <div class="flex-none">
        <img class="img transition duration-300 ease-in-out hover:scale-110 mt-[-5.5em] md:ml-[-16em] md:mt-0 " src={Picture.src}/>
    </div>
</div>

<div class="w-full mt-10">
    <div class="w-full h-1/3 px-10 py-5 bg-bg-light border-solid border-2 border-bg-2">
        <div class="flex">
            <User class="size-10 mr-2"/><p class="text-4xl font-bold text-bg tracking-wider">About Me</p>
        </div>
        <div class="flex border-solid border-2 border-disabled-soft mt-3 mb-2"></div>
        <p class="text-bg text-justify text-base md:text-xl">I'm a Mechatronic Engineer who found a <span class="font-bold text-soft">passion</span> for web development,  i also have  strong foundations with OOP with languages such as Javascript, C# and Java. I currently have over 1 and a half years of experience working in my own personal projects, always emphasizing <span class="font-bold text-soft">clean designs and well structured code and logic</span>. Currently seeking opportunities to push myself to the limit while learning more.</p>
        <div class=" w-2/12 mt-3">
            <PillsContact class=" w-2/12 mt-2" href={Resume} target="_blank">
                <File class="size-6 mr-1"/>Resume
            </PillsContact>
        </div>

    </div>
</div>

<div class="w-full flex mt-10">
    <div class=" skills-container w-1/5 h-24 lg:h-28 mr-[-2] flex flex-wrap items-center justify-center text-center  bg-bg py-2 m-auto">
        <h1 class="text-base md:text-3xl font-bold tracking-wider text-bg-light">My skills</h1>
    </div>
    <div class="skills-container w-4/5 h-24 lg:h-28 px-3 md:px-6 md:py-2 bg-soft mt-[-10] flex flex-wrap space-x-1 md:space-x-10 lg:space-x-6 items-center md:justify-around lg:justify-center m-auto z-10">
        <Html class=" icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
        <Css class=" icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125" />
        <Js class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125" />
        <React class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
        <AstroIcon class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
        <Tailwind class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
        <Git class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
        <Wp class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
        <Ps class="icon size-8 md:size-12 lg:size-14 transition duration-300 ease-in-out hover:scale-125"/>
    </div>
</div>

<style>
    .img{
        width: 45em;
    }
    h1{
        margin-bottom: -0.2em;
    }
    h2{
        margin-bottom: -0.1em;
    }
    .text{
        font-family: "Onest Variable";
    }
    .skills-container{
        height: 10vh;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1200px)  
    {
        .abMe{
            width: 100%;
            height: 20em;
            padding: 2em;
        }
        .img{
            margin: auto;
            margin-top: -12vh;
        }
        .skills-container{
            gap: 1em;
        }
    }
    @media only screen and (min-device-width :1000px ) and (max-device-width : 1090px)  
    {
        .abMe{
            width: 100%;
            height:40vh;
            padding: 4em;
            justify-content: center;
            align-items: flex-start;
        }
        .container{
            display: block;
        }
        .img{
            margin: auto;
            margin-top: -18vh;
        }
    }
</style>