---

---
<div class="mb-5 w-full h-12 md:h-[60px] font-medium md:font-bold font-mono text-base md:text-lg text-bg border-box px-2 md:px-10 py-2 md:py-3 bg-bg-light fixed border-solid border-2 border-bg z-50">
    
    <a href="#top" class="float-left"><img src="../../public/Media/logo.png" class="h-8"/></a>
    <ul class="float-right flex space-x-3 md:space-x-10">
        <a href="#top">About</a>
        <a href="#projects">Projects</a>
        <a class="text-disabled">Blog (soon)</a>
    </ul>
</div>