<a class="text-bg font-light text-sm md:text-base rounded-full
border border-bg-2
flex justify-center items-center gap-x-2 py-1 px-2 
box-border hover:bg-soft hover:scale-110 transition" href={Astro.props.href} target="_blank" class="px-2 ">
    <slot/>
</a>